body {
  background-color: #ccc;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
}

header {
  background-color: rgb(30, 99, 42);
  border-bottom: 1px solid black ;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-size: 1.5em;    
}